<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{fragments/navigation :: nav}"></nav>
<div th:replace="~{fragments/user-role-data :: user-data}"></div>
<div class="container">
    <div class="text-center">
        <br>
        <h3>Car Service Management System</h3>
    </div>
    <hr>
    <br>

    <div class="text-center">
        <h3>You have been authenticated.</h3>
    </div>


</div>
</body>
</html>
