<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{fragments/navigation :: nav}"></nav>
<div th:replace="~{fragments/user-role-data :: user-data}"></div>
<div class="container">
    <div class="text-center">
        <br>
        <h2>Car Service Management System</h2>
    </div>
    <hr>
    <br>
    <div class="text-center">
        <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/admin}">
                <h4>Manage Users</h4>
            </a>
        </div>
        <br>
        <div sec:authorize="hasRole('USER')">
            <div class="text-center">
                <a th:href="@{/vehicle/page}">
                    <h4>Manage Vehicles</h4>
                </a>
            </div>
            <br>
            <div class="text-center">
                <a th:href="@{/customer/page}">
                    <h4>Manage Customers</h4>
                </a>
            </div>
            <br>
            <div class="text-center">
                <a th:href="@{/service-order/page}">
                    <h4>Manage Service Orders</h4>
                </a>
            </div>
            <br>
            <hr>
        </div>
    </div>
</div>
</body>
</html>
