<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{fragments/navigation :: nav}"></nav>
<br>
<div class="container row col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h3>Service Order Details</h3>
        </div>
        <div class="card-body">
            <form action="" method="get" role="form"
                  th:action="@{/service-order/details/{id}(id=${serviceOrderDetails.id})}"
                  th:object="${serviceOrderDetails}">
                <h5>
                    <th:block>
                        Id: <span th:text="${serviceOrderDetails.id}"></span>
                        <hr>
                        Created: <span th:text="${#temporals
                        .format(serviceOrderDetails.dateTimeCreated, 'dd-MM-yyyy HH:mm')}"></span><br>
                        Updated: <span th:text="${#temporals
                        .format(serviceOrderDetails.dateTimeUpdated, 'dd-MM-yyyy HH:mm')}"></span><br>
                        Deadline: <span th:text="${#temporals
                        .format(serviceOrderDetails.dateTimeDeadline, 'dd-MM-yyyy HH:mm')}"></span>
                        <hr>
                        Customer Id: <span th:text="${serviceOrderDetails.customerId}"></span><br>
                        Customer name: <span th:text="${serviceOrderDetails.customerName}"></span>
                        <hr>
                        Vehicle Id: <span th:text="${serviceOrderDetails.vehicleId}"></span><br>
                        Vehicle reg.: <span th:text="${serviceOrderDetails.vehicleRegistrationNumber}"></span>
                        <hr>
                        Order status: <span th:text="${serviceOrderDetails.orderStatus}"></span>
                        <hr>
                        Description 1: <span th:text="${serviceOrderDetails.description1}"></span><br>
                        Description 2: <span th:text="${serviceOrderDetails.description2}"></span><br>
                        Description 3: <span th:text="${serviceOrderDetails.description3}"></span><br>
                        <hr>
                    </th:block>
                </h5>
            </form>
            <div class="mb-3">
                <a th:href="@{/service-order/}">
                    <h6>Back to Service Orders List</h6>
                </a>
            </div>
            <div class="mb-3">
                <a th:href="@{/}">
                    <h6>Back to Home Page</h6>
                </a>
            </div>
        </div>

    </div>
</div>
</body>
</html>
