<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{fragments/navigation :: nav}"></nav>
<div th:replace="~{fragments/user-role-data :: user-data}"></div>
<div class="container">
    <div class="text-center">
        <br>
        <h3>Manage Customers</h3>
    </div>
    <hr>
    <br>
    <div class="text-center">
        <a th:href="@{/customer/}">
            <h4>Show all Customers</h4>
        </a>
    </div>
    <br>
    <div class="text-center">
        <a th:href="@{/customer/add-customer}">
            <h4>Add new Customer</h4>
        </a>
    </div>
    <br>
    <div class="text-center">
        <a th:href="@{/}">
            <h4>Back to Home Page</h4>
        </a>
    </div>
</div>
</body>
</html>
