<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{fragments/navigation :: nav}"></nav>
<div th:replace="~{fragments/user-role-data :: user-data}"></div>
<div class="container">
    <div class="text-center">
        <br>
        <h2>Manage Customers</h2>
    </div>
    <hr>
    <br>
    <div class="text-center">
        <div>
            <a th:href="@{/customer/}">
                <h4>Show all Customers Paginated</h4>
            </a>
        </div>
        <br>
        <div>
            <a th:href="@{/customer/all-customers-one-page}">
                <h4>Show all Customers One Page</h4>
            </a>
        </div>
        <br>
<!--        <div>-->
<!--            <a href="@{}">-->
<!--                <h4>Show all Vehicles By Customer</h4>-->
<!--            </a>-->
<!--        </div>-->
<!--        <br>-->
<!--        <div>-->
<!--            <a href="@{}">-->
<!--                <h4>Show Service Orders History by Customer</h4>-->
<!--            </a>-->
<!--        </div>-->
<!--        <br>-->
        <div>
            <a th:href="@{/customer/add-customer}">
                <h4>Add New Customer</h4>
            </a>
        </div>
        <br>
        <hr>
        <div class="mb-3">
            <a th:href="@{/}">
                <h6>Back to Home Page</h6>
            </a>
        </div>
    </div>
</div>
</body>
</html>
