<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{fragments/navigation :: nav}"></nav>
<br>
<div class="container row col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h4>Edit Customer</h4>
        </div>
        <div class="card-body">
            <form action="#" method="post" role="form"
                  th:action="@{/customers/update/{id}(id=${customerDto.id})}"
                  th:object="${customerDto}">
                <div class="">
                    <input class="form-control" th:field="*{id}"
                           type="hidden" id="id" name="id">
                </div>
                <div class="form-group mb-3">
                    <label for="customerName" class="form-label">Customer Name</label>
                    <input class="form-control" th:field="*{customerName}"
                           type="text" id="customerName" placeholder="Enter Customer Name">
                    <p th:if="${#fields.hasErrors('customerName')}" class="text-danger"
                       th:errors="*{customerName}"></p>
                </div>
                <div class="">
                    <input class="form-control" th:field="*{taxNumber}"
                           type="hidden" id="taxNumber" name="taxNumber">
                </div>
                <div class="form-group mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input class="form-control" th:field="*{country}"
                           type="text" id="country" placeholder="Enter Country">
                    <p th:if="${#fields.hasErrors('country')}" class="text-danger"
                       th:errors="*{country}"></p>
                </div>
                <div class="form-group mb-3">
                    <label for="city" class="form-label">City</label>
                    <input class="form-control" th:field="*{city}"
                           type="text" id="city" placeholder="Enter City">
                    <p th:if="${#fields.hasErrors('city')}" class="text-danger"
                       th:errors="*{city}"></p>
                </div>
                <div class="form-group mb-3">
                    <label for="postalCode" class="form-label">Postal Code</label>
                    <input class="form-control" th:field="*{postalCode}"
                           type="text" id="postalCode" placeholder="Enter Postal Code">
                    <p th:if="${#fields.hasErrors('postalCode')}" class="text-danger"
                       th:errors="*{postalCode}"></p>
                </div>
                <div class="form-group mb-3">
                    <label for="street" class="form-label">Postal Street</label>
                    <input class="form-control" th:field="*{street}"
                           type="text" id="street" placeholder="Enter Street">
                    <p th:if="${#fields.hasErrors('street')}" class="text-danger"
                       th:errors="*{street}"></p>
                </div>
                <div class="form-group mb-3">
                    <label for="customerEmail" class="form-label">Customer Email</label>
                    <input class="form-control" th:field="*{customerEmail}"
                           type="text" id="customerEmail" placeholder="Enter Customer Email">
                    <p th:if="${#fields.hasErrors('customerEmail')}" class="text-danger"
                       th:errors="*{customerEmail}"></p>
                </div>
                <div class="form-group mb-3">
                    <label for="customerPhoneNumber" class="form-label">Customer Phone</label>
                    <input class="form-control" th:field="*{customerPhoneNumber}"
                           type="text" id="customerPhoneNumber" placeholder="Enter Customer Phone">
                    <p th:if="${#fields.hasErrors('customerPhoneNumber')}" class="text-danger"
                       th:errors="*{customerPhoneNumber}"></p>
                </div>
                <div class="form-group mb-3">
                    <label for="customerWebsite" class="form-label">Customer Website</label>
                    <input class="form-control" th:field="*{customerWebsite}"
                           type="text" id="customerWebsite" placeholder="Enter Customer Website">
                    <p th:if="${#fields.hasErrors('customerWebsite')}" class="text-danger"
                       th:errors="*{customerWebsite}"></p>
                </div>
                <div class="form-group mb-3">
                    <p> Select Is Active?:
                        <select name="isActive">
                            <option th:value="true">True</option>
                            <option th:value="false">False</option>
                        </select>
                    </p>
                </div>
<!--                todo always return false-->
                <div class="form-group mb-3">
                    <p> Select Payment Is Blocked:
                        <select name="paymentIsBlocked">
                            <option th:value="true">True</option>
                            <option th:value="false">False</option>
                        </select>
                    </p>
                </div>
                <div class="form-group mb-3">
                    <p> Select Payment Method:
                        <select name="paymentMethod">
                            <option value=""
                                    th:each="payment : ${T(com.customer_department.model.enums.PaymentMethod).values()}"
                                    th:text="${payment.displayText}"
                                    th:value="${payment.name()}">
                            </option>
                        </select>
                    </p>
                </div>
                <div class="form-group mb-3">
                    <p> Select Tax Value:
                        <select name="taxValue">
                            <option value=""
                                    th:each="tax : ${T(com.customer_department.model.enums.TaxValue).values()}"
                                    th:text="${tax.displayText}"
                                    th:value="${tax.name()}">
                            </option>
                        </select>
                    </p>
                </div>
                <div class="form-group mb-3">
                    <label for="contactPersonName" class="form-label">Contact Person Name</label>
                    <input class="form-control" th:field="*{contactPersonName}"
                           type="text" id="contactPersonName" placeholder="Enter Contact Person Name">
                    <p th:if="${#fields.hasErrors('contactPersonName')}" class="text-danger"
                       th:errors="*{contactPersonName}"></p>
                </div>
                <div class="form-group mb-3">
                    <label for="contactPersonEmail" class="form-label">Contact Person Email</label>
                    <input class="form-control" th:field="*{contactPersonEmail}"
                           type="text" id="contactPersonEmail" placeholder="Enter Contact Person Email">
                    <p th:if="${#fields.hasErrors('contactPersonEmail')}" class="text-danger"
                       th:errors="*{contactPersonEmail}"></p>
                </div>
                <div class="form-group mb-3">
                    <label for="contactPersonPhone" class="form-label">Contact Person Phone</label>
                    <input class="form-control" th:field="*{contactPersonPhone}"
                           type="text" id="contactPersonPhone" placeholder="Enter Contact Person Phone">
                    <p th:if="${#fields.hasErrors('contactPersonPhone')}" class="text-danger"
                       th:errors="*{contactPersonPhone}"></p>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Save Customer</button>
                </div>
            </form>
            <div class="mb-3">
                <a th:href="@{/customers/}">Back to Customers List</a>
            </div>
            <div>
                <a href="">Back to Home Page</a>
            </div>
            <div>
                <h6>
                    * Editing Tax Number is not possible.
                    <br>
                    * In order to change Tax Number it is recommended to delete Customer and create new one.
                    <br>
                </h6>
            </div>
        </div>
    </div>
</div>

</body>
</html>
