<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{fragments/navigation :: nav}"></nav>
<br>
<div class="container row col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h3>Vehicle Details</h3>
        </div>
        <div class="card-body">
            <form action="" method="get" role="form"
                  th:action="@{/vehicle/details/{registration}(registration=${vehicleDetails.registrationNumber})}"
                  th:object="${vehicleDetails}">
                <h5>
                    <th:block>
                        Vehicle Id: <span th:text="${vehicleDetails.id}"></span><br>
                        Customer Id: <span th:text="${vehicleDetails.customerId}"></span><br>
                        <hr>
                        Registration number: <span th:text="${vehicleDetails.registrationNumber}"></span><br>
                        VIN: <span th:text="${vehicleDetails.vehicleIdentificationNumber}"></span><br>
                        <hr>
                        Manufacturer: <span th:text="${vehicleDetails.manufacturer}"></span><br>
                        Model: <span th:text="${vehicleDetails.model}"></span><br>
                        <hr>
                        Production Year: <span th:text="${vehicleDetails.productionYear}"></span><br>
                        Mileage: <span th:text="${vehicleDetails.mileage}"></span><br>
                        Engine Type: <span th:text="${vehicleDetails.engineType}"></span><br>
                        Gearbox Type: <span th:text="${vehicleDetails.gearboxType}"></span><br>
                        <hr>
                        Additional Information: <span th:text="${vehicleDetails.additionalInformation}"></span><br>
                        <hr>
                    </th:block>
                </h5>
            </form>
            <div class="mb-3">
                <a th:href="@{/vehicle/all-vehicles}">
                    <h6>Back to Vehicles List</h6>
                </a>
            </div>
            <div class="mb-3">
                <a th:href="@{/}">
                    <h6>Back to Home Page</h6>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
