<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{fragments/navigation :: nav}"></nav>
<div th:replace="~{fragments/user-role-data :: user-data}"></div>
<div class="container">
    <div class="text-center">
        <br>
        <h3>Manage Vehicles</h3>
    </div>
    <hr>
    <br>
    <div class="text-center">
        <a th:href="@{/vehicle/all-vehicles}">
            <h3>Show all Vehicles</h3>
        </a>
    </div>
    <br>
    <div class="text-center">
        <a th:href="@{vehicle/add-vehicle}">
            <h3>Add new Vehicles</h3>
        </a>
    </div>
    <br>

</div>
</body>
</html>
